  body{
     padding:0;
     margin:0;
  }
  *{
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar{
    width: 10px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(231, 216, 216, 0.5);
    border-radius: 20px;
    border: transparent;
}
#Sale{
color: red;
}
#ban1{
    width:24px; 
    height:18px;
}
#ban2{
    width:43px; 
    height:16px;
}
#banner{
    color:black; 
    font-size:11px;
    align-content:middle;
}

#bttnL{
        background: white;
        outline: none;
        width:fit-content;
        display: inline;
        padding: 0.4rem;
        margin-left: 10px;
        margin-top: 16px;
        color: red;
        text-decoration: none;
    
}

.imgg{
    width:90px; 
    height:auto;
    padding-left:0;
    margin-left:-50px;
    object-fit: contain;
    vertical-align:text-top;
    padding-right:25px;
}
.my-active{
  background-color: #e02828!important;
  color: white!important;
}
@import "./home";
@import "./events";
@import "./card";
@import "./TopPanel";
@import "./footer";
@import "./sales";
@import "./newsletter";
@import "./SignUp";
@import "./index";
@import "./bannerCard";