
.img-card{
    overflow: hidden;
    height: 200px;
    background-size: auto;
    max-width:100%;
    background-repeat: no-repeat;
    object-fit: cover;

}
.col{
    padding-top: 20px;
    padding-bottom: 20px;

}
button {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem #b41919 solid;
    background-color: #e02828;
    width: 100%;
    cursor: pointer;
  }
